@using WebShopMVC.Data.Models
@model IList<Product>

<div class="row g-3">
    @foreach (Product product in Model)
    {
        <partial name="Components/_ProductCardPartial" model="product" />
    }
</div>