@using WebShopMVC.Data.Models
@using WebShopMVC.Models.DTO
@using WebShopMVC.Models.Utils
@using WebShopMVC.Models.Views
@model IList<Product>

<div class="row g-3">
    @foreach (Product product in Model)
    {
        <partial name="Components/ProductCardPartial" model="product" />
    }
</div>